<!-- START OMEGA Facebook Reviews for Shopify --> 
    <div class="ot-facebook-reviews"></div>
<!-- END OMEGA Facebook Reviews for Shopify -->
 
{% schema %}
  {
	"name": "Facebook Reviews",
	"class": "facebook-reviews",
	"settings": [
    {
      "type": "header",
      "content": "Welcome to Facebook Reviews by OMEGA."
    },
     {
      "type": "paragraph",
      "content": "You wont have to do any customizations here, only in the app. If you require any assitance, our dedicated team is happy to assist. All you have to do is email us at contact@omegatheme.com"
    }
    
  ],
    "presets": [{
      "name": "Facebook Review",
      "category": "Facebook Reviews by Omegatheme"
    }]
  }
{% endschema %}

{% stylesheet %} 
{% endstylesheet %} 

{% javascript %}
{% endjavascript %}